:root{
    /* Landing page */
    --primary-bg-color:#0F0F0F;
    --secondary-bg-color:#ccc4c7;
    --primary-font-color:black;
    --secondary-font-color:white;
    

    --pri-bg-color:#181818;
    --sec-bg-color:#716969;
}